@using SocialNetwork.WEB.Models.LoggedModel
@model ProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

    var user = ViewBag.User as UserViewModel;
}

@if (User.Identity.Name == user.Email)
{
    <h2>Personal Information: @user.FirstName (@user.Email)</h2>
    <h4>it's my page</h4>
}
else
{
    <h2>Personal Information: @user.FirstName (@user.Email)</h2>
}

@Html.Partial("_UserProfilePartial")

