@model SocialNetwork.WEB.Models.LoggedModel.ProfileViewModel

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Personal Settings: @User.Identity.Name</h2>

@if (ViewBag.Success != null)
{
    <div class="alert alert-success fade in">
        @Html.ActionLink("Go Personal Page", "Index", null, htmlAttributes:new {@class="close"})
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div>
}

@if (ViewBag.NotSuccess != null)
{
    <div class="container">
        <div class="alert alert-info">
            <strong>Info!</strong> Your profile is NOT saved.
        </div>
    </div>
}

@using (Html.BeginForm("Settings", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <!--MiddleName-->
        <div class="form-group">
            @Html.LabelFor(p => p.MiddleName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.MiddleName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.MiddleName, "", new {@class = "text-danger"})
            </div>
        </div>

        <!--LastName-->
        <div class="form-group">
            @Html.LabelFor(p => p.LastName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.LastName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.LastName, "", new {@class = "text-danger"})
            </div>
        </div>

        <!--DateOfBirth-->
        <div class="form-group">
            @Html.LabelFor(p => p.DateOfBirth, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.DateOfBirth, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.DateOfBirth, "", new {@class = "text-danger"})
            </div>
        </div>

        <!--Gender-->
        <div class="form-group">
            @Html.LabelFor(p => p.Gender, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.Gender, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.Gender, "", new {@class = "text-danger"})
            </div>
        </div>

        <!--MobilePhoneNumber-->
        <div class="form-group">
            @Html.LabelFor(p => p.MobilePhoneNumber, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.MobilePhoneNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.MobilePhoneNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <!--Country-->
        <div class="form-group">
            @Html.LabelFor(p => p.Country, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.Country, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.Country, "", new {@class = "text-danger"})
            </div>
        </div>

        <!--City-->
        <div class="form-group">
            @Html.LabelFor(p => p.City, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.City, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.City, "", new {@class = "text-danger"})
            </div>
        </div>

        <!--Street-->
        <div class="form-group">
            @Html.LabelFor(p => p.Street, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.Street, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.Street, "", new {@class = "text-danger"})
            </div>
        </div>

        <!--HouseNumber-->
        <div class="form-group">
            @Html.LabelFor(p => p.HouseNumber, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.HouseNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.HouseNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <!--CompanyOfWork-->
        <div class="form-group">
            @Html.LabelFor(p => p.CompanyOfWork, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(p => p.CompanyOfWork, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(p => p.CompanyOfWork, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn btn-default"/>
                @Html.ActionLink("Cancel", "Index", "User", null, new {@class = "btn btn-default" })
            </div>
        </div>
    </div>
}
